.mobilelinks {
  position: absolute;
  top: 85px;
  right: 0;
  width: 50%;
  height: calc(100vh-50px);
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
